<div class="cart-page">
    <div class="row">
        <div class="col-md-7 cart-cantainer">
            <div class="cart-items mt-3">
                <div class="">
                    <img  class="cart-img" src="../../../../assets/images/-original-imagt5uhcnfy66wa.webp" alt=""/>
                </div>
                <div class="cart-details">
                    <p>product name</p>
                    <p>price: 1000</p>
                    <p>quantity: 5</p>
                    <button type="button" class="btn btn-info" (click)="openCart()">remove to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-5 summary-cart">
            <div class="summary-details ">
                <h5 class="text-center">Summary</h5>
                <div class="cart-amount text-capitalize">
                    <p><span>ammount:</span> <span>300</span></p>
                    <p><span>tax:</span><span>30</span></p>
                    <p><span>delivery:</span> <span>20</span> </p>
                    <p><span>discount:</span><span>50</span></p>
                    <p class="fw-bold"><span>total:</span><span>300</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
