// :ng-deep{
.cart-page {
    margin: 20px 15px;

    .cart-cantainer {
        // box-shadow: 2px 1px 10px 2px;
        // padding: 10px;
        // border-radius: 10px;
        border: 1px solid black;
        border-radius: 10px;
        .cart-items { 
            display: flex;
            column-gap: 80px;
            border-bottom: 1px solid gray;
            .cart-img {
               width: 120px;
               height: 120px;
            }
            .cart-details{
                display: flex;
                column-gap: 30px;
                align-items: baseline;
                margin-top: 40px;
            }
        }
    }
    .summary-cart{
        box-shadow: 2px 1px 10px 2px;
        padding: 10px;
        border-radius: 10px;
        .summary-details{
            .cart-amount{
                p{
                    display: flex;
                    justify-content: space-around;
                }
                
            }
        }
    }
 
}

// }