<div class="cart-page">
    <div class="row">
        <div class="col-sm-8 details text-capitalize">
            <ul class="" *ngFor="let cartItems of cartData">
                <li>
                    <img  class="cart-img" src="{{cartItems.image}}" alt=""/>
                </li>
                <li>
                    <span>{{cartItems.productName}}</span>
                </li>
                <li>
                    <span>price: {{cartItems.price | currency: 'INR':'symbol':'1.2-2'}}</span>
                </li>
                <li>
                    <span>quantity: {{cartItems.quantity}}</span>
                </li>
                <li>
                    <button type="button" class="btn btn-info text-capitalize">remove to cart</button>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 summary">
            <h3 class="text-capitalize text-center">summary</h3>
            <ul class="text-capitalize">
                <li><span>ammount:</span><span>{{priceSummary.price}}</span></li>
                <li><span>tax:</span><span>{{priceSummary.tax | number}}</span></li>
                <li><span>delivery:</span><span>{{priceSummary.delivery}}</span></li>
                <li><span>discount:</span><span>{{priceSummary.discount | number}}</span></li>
                <li class="fw-bold"><span>total:</span><span>{{finalyPrice | number}}</span></li>
                <div class="gap-2 d-grid">
                    <button type="button" class="btn btn-success text-capitalize" (click)="checkOut()">checkout</button>
                </div>
            </ul>
        </div>
    </div>
</div>
