<div class="my-order">
    <h1>My orders</h1>
    <div class="row order-header">
        <div class="col-sm-2">
            <span>order</span>
        </div>
        <div class="col-sm-2">
            <span>order id</span>
        </div>
        <div class="col-sm-2">
            <span>price</span>
        </div>
        <div class="col-sm-2">
            <span>status</span>
        </div>
        <div class="col-sm-2">
            <span>action</span>
        </div>
    </div>
    <div class="row order-details">
        <div class="col-sm-2">
            <img class="order-img" src="" alt="">
        </div>
        <div class="col-sm-2">
            <span>#3210</span>
        </div>
        <div class="col-sm-2">
            <span>13000</span>
        </div>
        <div class="col-sm-2">
            <span>in process</span>
        </div>
        <div class="col-sm-2">
            <span><button type="submit" class="btn btn-primary mb-5">cancel order</button></span>
        </div>
    </div>
</div>