<div class="my-order">
    <h1>My orders</h1>
    <div class="row order-header">
        <div class="col-sm-2">
            <span>order</span>
        </div>
        <div class="col-sm-2">
            <span>order id</span>
        </div>
        <div class="col-sm-2">
            <span>price</span>
        </div>
        <div class="col-sm-2">
            <span>status</span>
        </div>
        <div class="col-sm-2">
            <span>action</span>
        </div>
    </div>
    <div class="row order-details mt-2" *ngFor="let orders of orderData">
        <div class="col-sm-2">
            <img class="order-img" src="../../../../assets/order-image/vector-cartoon-illustration-shopping-cart-with-goods-trolley-full-things_253349-2920.avif" alt="">
        </div>
        <div class="col-sm-2">
            <span>#{{orders.id}}</span>
        </div>
        <div class="col-sm-2">
            <span>{{orders.totalPrice | currency: 'INR':'symbol':'1.2-2'}}</span>
        </div>
        <div class="col-sm-2">
            <span>in process</span>
        </div>
        <div class="col-sm-2">
            <span><button type="submit" class="btn btn-primary mb-5" (click)="cancelOrder(orders.id)">cancel order</button></span>
        </div>
    </div>
</div>