<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">E-commerce<span>Template-Form</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
            <form class="d-flex me-auto mb-2 mb-lg-0 input-box" *ngIf="menuItem !=='seller'">
                <input #searchInput class="form-control me-2 " type="text" (keyup)="searchProductList($event)"
                    (blur)="hideSearch()" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"
                    (click)="submitSearch(searchInput.value)">Search</button>
                <ul class="suggested-result" *ngIf="searchResult">
                    <li *ngFor="let data of searchResult">
                        <a (mousedown)="redirectToDetails(data.id)">{{data.productName || data.color}}</a>
                    </li>
                </ul>
            </form>
            <div class="d-flex justify-content-end w-100" [ngSwitch]="menuItem">

                <ul class="navbar-nav users-menu" *ngSwitchCase="'default'">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="seller-auth">Seller</a>
                    </li>
                    <li class="nav-item cursor-pointer">
                        <a class="nav-link active user-auth" routerLink="/user-auth">Login/SignUp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cart({{cartItems}})</a>
                    </li>
                </ul>
                f
                <!-- For Users -->

                <ul class="navbar-nav users-menu" *ngSwitchCase="'user'">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="seller-auth">Seller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="my-order">My Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="cartItems>0?'cart-page':null">Cart({{cartItems}})</a>
                    </li>
                    <li class="nav-item user-logout active">
                        <a class="nav-link active" (click)="logOut()">LogOut</a>
                    </li>
                    <li class="nav-item active sellername">
                        <a class="nav-link">{{userName | titlecase}}</a>
                    </li>
                </ul>

                <!-- For Seller -->

                <ul class="navbar-nav users-menu" *ngSwitchCase="'seller'">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="seller-add-product">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="seller-home">List</a>
                    </li>
                    <li class="nav-item seller-logout">
                        <a class="nav-link active" (click)="logOut()">LogOut</a>
                    </li>
                    <li class="nav-item active sellername">
                        <a class="nav-link">{{sellerName | titlecase}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>