<section>
    <div class="carousel-page">
        <ngb-carousel *ngIf="popularProducts">
            <ng-template *ngFor="let items of popularProducts" ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="product-images" src="{{items.image}}" alt="Random first slide" />
                </div>
                <div class="carousel-caption">
                    <!-- <h3>10 seconds between slides...</h3> -->
                    <p class="text-bold">{{items.description}}.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>