::ng-deep{
    section{
        margin: 10px 10px;
        .carousel-page{
            box-shadow:-5px 3px 20px 10px red;
            ngb-carousel{
                .picsum-img-wrapper{
                    .product-images{
                        width: 100% !important;
                        height: 350px;
                    }
                }
                .carousel-control-next-icon,.carousel-control-prev-icon  {
                    background-color: red;
                    border-radius: 5px;
                }
            }
        }
        .trendyproduct-page{
            .card-group{
                .card{
                    img{
                        height: 250px;
                        padding: 20px 20px;
                    }
                    .card-body{

                    }
                }
            }
        }
    }
}