::ng-deep{
    .seller-section{
        h1{
            text-align: center;
            margin-top: 80px;
        }
        p{
            a{
                cursor: pointer;
            }
        }
    }
}